dataset/archive/*
dataset/processed_images/*

venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment variables (sensitive data)
.env
.env.local

# Ignore build outputs and logs
dist/
build/
*.log